@import "colors";
@import "variables";
@import "bootstrap";

@import "typography";
@import "header";
@import "footer";
@import "dark";

.bar
{
  background-color: #fafafa;
  height: 10px;
}

img
{
  margin-bottom: 15px;

  &.sherwood
  {
    margin: 0 auto 15px;
  }
}

.home img
{
  margin: 0 auto;
}

.maps
{
  margin-top: 30px;
}

iframe.google-maps
{
  border-radius: 6px;
}
