@import "colors";
@import "variables";
@import "bootstrap";

@import "typography";
@import "header";
@import "footer";
@import "dark";
@import "party";

.bar
{
  background-color: #fafafa;
  height: 10px;
}

img
{
  margin-bottom: 15px;

  &.sherwood
  {
    margin: 0 auto 15px;
  }
}

.home img
{
  margin: 0 auto;
}

.maps
{
  margin-top: 30px;
}

iframe.google-maps
{
  border-radius: 6px;
}

.registry
{
  text-align: center;

  img
  {
    border: 1px solid #fff;
    box-shadow: 1px 1px 3px #eee;
    margin: 30px auto;

    &:hover
    {
      border-color: #ccc;
    }
  }
}
